<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<script src="~/js/script.js"></script>
	<link rel="stylesheet" href="~/css/styles.css" />
	<link rel="stylesheet" href="~/css/sprites.css" />
</head>
<body>
     @RenderBody()
</body>
</html>