<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/styles.css" />
	<link rel="stylesheet" href="~/css/sprites.css" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="~/js/spin.min.js"></script>
	<script src="~/js/script.js"></script>
</head>
<body>
     @RenderBody()
</body>
</html>