<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<script src="~/js/dungeongenerator.js"></script>
	<link rel="stylesheet" href="~/css/dungeongenerator.css" />
</head>
<body>
     @RenderBody()
</body>
</html>