@model DigitalWizardry.Dungeon.Models.DungeonViewModelCell

@{
    ViewData["Title"] = "Dungeon Generator";
}

<table>
	<tr>
		<td class="pad">
			<div class="title">Emoji Dungeon</div>
			<p class="small">
				by Robb Priestley 
				<br>©️ 2017 Digital Wizardry Software Solutions Ltd.
			</p>
			<p style="margin-top: 25px;">
				<div><div id="heartCountIcon" class="sprite heart"></div><span id="heartCount" class="count">0</span><span id="heartPlus" class="plus">&nbsp;+1&nbsp;</span><span id="heartMinus" class="minus">&nbsp;-1&nbsp;</span></div>
				<div><div id="keyCountIcon" class="sprite key"></div><span id="keyCount" class="count">0</span><span id="keyPlus" class="plus">&nbsp;+1&nbsp;</span><span id="keyMinus" class="minus">&nbsp;-1&nbsp;</span></div>
				<div><div id="swordCountIcon" class="sprite sword"></div><span id="swordCount" class="count">0</span><span id="swordPlus" class="plus">&nbsp;+1&nbsp;</span><span id="swordMinus" class="minus">&nbsp;-1&nbsp;</span></div>
				<div class="score">Level</div>
				<div><span id="level" class="score">1</span></div>
				<div class="score">Score</div>
				<div><span id="scoreCount" class="score">0</span><span id="scorePlusOne" class="plus">&nbsp;+1&nbsp;</span><span id="scorePlusTen" class="plus">&nbsp;+10&nbsp;</span></div>
				<div class="score">High Score</div>
				<div><span id="highScore" class="score">0</span></div>
			</p>
			<p>
				<div><span id="gameOver" class="gameOver">&nbsp;GAME OVER&nbsp;</span></div>
				<div><span id="newHighScore" class="newHighScore">&nbsp;NEW HIGH SCORE!&nbsp;</span></div>
			</p>
			<div class="controls">
				<div id="dirup" class="sprite dirup" onclick="PlayerMove('U')"></div>
				<div id="dirleft" class="sprite dirleft" onclick="PlayerMove('L')"></div>
				<div id="dirdown" class="sprite dirdown" onclick="PlayerMove('D')"></div>
				<div id="dirright" class="sprite dirright" onclick="PlayerMove('R')"></div>
			</div>
			<div class="controls">
				<a class="btn" href="" onclick="Reset(); return false;">Reset</a>
				<a class="btn" href="" onclick="ShowDialog(); return false;">How to Play</a>
			</div>
		</td>
		<td>
			<div id="grid" class="grid">
			@for(var y = 14; y >= 0; y--)
			{
				@for(var x = 0; x <= 14; x++)
				{
					@* Initialze grid with empty divs ready to take a tile name in the class *@
					var xs = x < 10 ? "0" + x.ToString() : x.ToString();
					var ys = y < 10 ? "0" + y.ToString() : y.ToString();
					var location = "g" + xs + ys;
					<div id="@location" class="tile @location"></div>
				}
			}
			</div>
		</td>
	</tr>
</table>

<div id="dialog" title="How to Play">
  <p><span class="sprite player"></span>This is you (the player).
  </p>
</div>