@model DigitalWizardry.Dungeon.Models.DungeonViewModel

@{
    ViewData["Title"] = "Dungeon Generator";
}

@* @Html.DisplayFor(m => m.TextVisualization) *@

<table>
	<tr>
		<td class="pad">
			<p>
				Dungeon Generator
				<br>Game Demo
				<br>by <a target="_blank" href="http://www.digitalwizardry.ca">Digital Wizardry</a>
			</p>
			<p>
				<a target="_blank" href="">About</a>
				<br><a target="_blank" href="">How to Play</a>
			</p>
			<p>
				<form action=""><input type="button" value="Start" onclick=""/></form>
			</p>
			<p>
				Level: <span id="level">1</span>
			</p>
		</td>
		<td>
			<table>
			@for(var y = @Model.CssNames.GetLength(1) - 1; y >= 0; y--)
			{
				<tr>
				@for(var x = 0; x <  Model.CssNames.GetLength(0); x++)
				{
					<td><div class="grid @Model.CssNames[@x, @y]"></div></td>
				}
				</tr>
			}
			</table>
		</td>
	</tr>
</table>