@model DigitalWizardry.Dungeon.Models.DungeonViewModel

@{
    ViewData["Title"] = "Dungeon Generator";
}

<table>
	<tr>
		<td class="pad">
			<p>
				Dungeon Generator
				<br>Game Demo
				<br>by <a target="_blank" href="http://www.digitalwizardry.ca">Digital Wizardry</a>
			</p>
			<p>
				<a target="_blank" href="">About</a>
				<br><a target="_blank" href="">How to Play</a>
			</p>
			<p>
				<form action=""><input type="button" value="Reset" onclick="Reset()"/></form>
			</p>
			<p>
				Level: <span id="level">1</span>
			</p>
		</td>
		<td>
			<div id="grid" class="grid"></div>
		</td>
	</tr>
</table>

<script>Reset();</script>