table.grid { 
	border-collapse: collapse; 
}

tr.grid {	
	margin: 0px;
	border: none;
	padding: 0px;
}

td.grid {	
	margin: 0px;
	border: none;
	padding: 0px;
}

img.grid {
	margin: 0px;
	border: none;
	padding: 0px;
	display:block;
}