@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	width: 100%;
}

body {
	width: 100%;
	color: white;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

/* Prevent horizontal scroll on left and right arrow key press despite page being narrower than viewport. https://stackoverflow.com/a/17756714/1348592 */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

table { 
	margin: 0 auto;
	border-collapse: collapse; 
}

td {	
	vertical-align:top;
}

td.pad {	
	width: 300;
	padding-right: 10px;
}

a.normal:link {
    color: fuchsia;
}

a.normal:visited {
    color:fuchsia;
}

a.btn {
	color: #ffffff;
	font-family: Arial;
	border-radius: 28px;
	background: #3498db;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
}

a.btn:hover {
	background: #3cb0fd;
}

p.small {
	font-size: 8pt;
	margin-top: 0px;
}

p.btn {
	margin-top: 30px;
	margin-bottom: 30px; 
}

h3 {
	margin-bottom: 0px;
}

div.score {
	font-size: 1em;
	margin-top: 25px;
}

span.score {
	font-size: 30pt;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 20px;
}

span.count {
	font-size: 30pt;
	font-weight: bold;
	margin-left: 47px;
}

span.gameOver {
	font-size: 1.5em;
	font-weight: bold;
	color: orange;
	background: red;
}

span.newHighScore {
	font-size: 1.5em;
	font-weight: bold;
	color: greenyellow;
	background: blue;
}

/* position: absolute is used for the tile and sprite divs in relation to the grid div.
	 The grid div needs to be position: relative because position: absolute works by the principle of 
	 "position yourself in relation to the nearest ancestor who has position: absolute or position: relative." 
	 http://stackoverflow.com/a/10487329/1348592 */
	 
div.grid {
	width: 675px;
	height: 675px;
	position: relative;
}

div.tile {
	z-index: 10;
	position: absolute;
}

div.sprite {
	z-index: 30;
	position: absolute;
}

/* *** BEGIN GRID LOCATIONS *** */
/* I originally used a C# Scriptlet to generate the following code: http://rextester.com/UJE12121 */
/* The class names are in the format gxxyy, where xx is the zero-padded x coordinate and yy is the zero-
   padded y coordinate. The class names used to be in the format gxx-yy, but I removed the hyphen to 
   (somewhat) reduce JSON size elsewhere. */

.g0000 {
	top: 630px;
	left: 0px;
}


.g0001 {
	top: 585px;
	left: 0px;
}


.g0002 {
	top: 540px;
	left: 0px;
}


.g0003 {
	top: 495px;
	left: 0px;
}


.g0004 {
	top: 450px;
	left: 0px;
}


.g0005 {
	top: 405px;
	left: 0px;
}


.g0006 {
	top: 360px;
	left: 0px;
}


.g0007 {
	top: 315px;
	left: 0px;
}


.g0008 {
	top: 270px;
	left: 0px;
}


.g0009 {
	top: 225px;
	left: 0px;
}


.g0010 {
	top: 180px;
	left: 0px;
}


.g0011 {
	top: 135px;
	left: 0px;
}


.g0012 {
	top: 90px;
	left: 0px;
}


.g0013 {
	top: 45px;
	left: 0px;
}


.g0014 {
	top: 0px;
	left: 0px;
}


.g0100 {
	top: 630px;
	left: 45px;
}


.g0101 {
	top: 585px;
	left: 45px;
}


.g0102 {
	top: 540px;
	left: 45px;
}


.g0103 {
	top: 495px;
	left: 45px;
}


.g0104 {
	top: 450px;
	left: 45px;
}


.g0105 {
	top: 405px;
	left: 45px;
}


.g0106 {
	top: 360px;
	left: 45px;
}


.g0107 {
	top: 315px;
	left: 45px;
}


.g0108 {
	top: 270px;
	left: 45px;
}


.g0109 {
	top: 225px;
	left: 45px;
}


.g0110 {
	top: 180px;
	left: 45px;
}


.g0111 {
	top: 135px;
	left: 45px;
}


.g0112 {
	top: 90px;
	left: 45px;
}


.g0113 {
	top: 45px;
	left: 45px;
}


.g0114 {
	top: 0px;
	left: 45px;
}


.g0200 {
	top: 630px;
	left: 90px;
}


.g0201 {
	top: 585px;
	left: 90px;
}


.g0202 {
	top: 540px;
	left: 90px;
}


.g0203 {
	top: 495px;
	left: 90px;
}


.g0204 {
	top: 450px;
	left: 90px;
}


.g0205 {
	top: 405px;
	left: 90px;
}


.g0206 {
	top: 360px;
	left: 90px;
}


.g0207 {
	top: 315px;
	left: 90px;
}


.g0208 {
	top: 270px;
	left: 90px;
}


.g0209 {
	top: 225px;
	left: 90px;
}


.g0210 {
	top: 180px;
	left: 90px;
}


.g0211 {
	top: 135px;
	left: 90px;
}


.g0212 {
	top: 90px;
	left: 90px;
}


.g0213 {
	top: 45px;
	left: 90px;
}


.g0214 {
	top: 0px;
	left: 90px;
}


.g0300 {
	top: 630px;
	left: 135px;
}


.g0301 {
	top: 585px;
	left: 135px;
}


.g0302 {
	top: 540px;
	left: 135px;
}


.g0303 {
	top: 495px;
	left: 135px;
}


.g0304 {
	top: 450px;
	left: 135px;
}


.g0305 {
	top: 405px;
	left: 135px;
}


.g0306 {
	top: 360px;
	left: 135px;
}


.g0307 {
	top: 315px;
	left: 135px;
}


.g0308 {
	top: 270px;
	left: 135px;
}


.g0309 {
	top: 225px;
	left: 135px;
}


.g0310 {
	top: 180px;
	left: 135px;
}


.g0311 {
	top: 135px;
	left: 135px;
}


.g0312 {
	top: 90px;
	left: 135px;
}


.g0313 {
	top: 45px;
	left: 135px;
}


.g0314 {
	top: 0px;
	left: 135px;
}


.g0400 {
	top: 630px;
	left: 180px;
}


.g0401 {
	top: 585px;
	left: 180px;
}


.g0402 {
	top: 540px;
	left: 180px;
}


.g0403 {
	top: 495px;
	left: 180px;
}


.g0404 {
	top: 450px;
	left: 180px;
}


.g0405 {
	top: 405px;
	left: 180px;
}


.g0406 {
	top: 360px;
	left: 180px;
}


.g0407 {
	top: 315px;
	left: 180px;
}


.g0408 {
	top: 270px;
	left: 180px;
}


.g0409 {
	top: 225px;
	left: 180px;
}


.g0410 {
	top: 180px;
	left: 180px;
}


.g0411 {
	top: 135px;
	left: 180px;
}


.g0412 {
	top: 90px;
	left: 180px;
}


.g0413 {
	top: 45px;
	left: 180px;
}


.g0414 {
	top: 0px;
	left: 180px;
}


.g0500 {
	top: 630px;
	left: 225px;
}


.g0501 {
	top: 585px;
	left: 225px;
}


.g0502 {
	top: 540px;
	left: 225px;
}


.g0503 {
	top: 495px;
	left: 225px;
}


.g0504 {
	top: 450px;
	left: 225px;
}


.g0505 {
	top: 405px;
	left: 225px;
}


.g0506 {
	top: 360px;
	left: 225px;
}


.g0507 {
	top: 315px;
	left: 225px;
}


.g0508 {
	top: 270px;
	left: 225px;
}


.g0509 {
	top: 225px;
	left: 225px;
}


.g0510 {
	top: 180px;
	left: 225px;
}


.g0511 {
	top: 135px;
	left: 225px;
}


.g0512 {
	top: 90px;
	left: 225px;
}


.g0513 {
	top: 45px;
	left: 225px;
}


.g0514 {
	top: 0px;
	left: 225px;
}


.g0600 {
	top: 630px;
	left: 270px;
}


.g0601 {
	top: 585px;
	left: 270px;
}


.g0602 {
	top: 540px;
	left: 270px;
}


.g0603 {
	top: 495px;
	left: 270px;
}


.g0604 {
	top: 450px;
	left: 270px;
}


.g0605 {
	top: 405px;
	left: 270px;
}


.g0606 {
	top: 360px;
	left: 270px;
}


.g0607 {
	top: 315px;
	left: 270px;
}


.g0608 {
	top: 270px;
	left: 270px;
}


.g0609 {
	top: 225px;
	left: 270px;
}


.g0610 {
	top: 180px;
	left: 270px;
}


.g0611 {
	top: 135px;
	left: 270px;
}


.g0612 {
	top: 90px;
	left: 270px;
}


.g0613 {
	top: 45px;
	left: 270px;
}


.g0614 {
	top: 0px;
	left: 270px;
}


.g0700 {
	top: 630px;
	left: 315px;
}


.g0701 {
	top: 585px;
	left: 315px;
}


.g0702 {
	top: 540px;
	left: 315px;
}


.g0703 {
	top: 495px;
	left: 315px;
}


.g0704 {
	top: 450px;
	left: 315px;
}


.g0705 {
	top: 405px;
	left: 315px;
}


.g0706 {
	top: 360px;
	left: 315px;
}


.g0707 {
	top: 315px;
	left: 315px;
}


.g0708 {
	top: 270px;
	left: 315px;
}


.g0709 {
	top: 225px;
	left: 315px;
}


.g0710 {
	top: 180px;
	left: 315px;
}


.g0711 {
	top: 135px;
	left: 315px;
}


.g0712 {
	top: 90px;
	left: 315px;
}


.g0713 {
	top: 45px;
	left: 315px;
}


.g0714 {
	top: 0px;
	left: 315px;
}


.g0800 {
	top: 630px;
	left: 360px;
}


.g0801 {
	top: 585px;
	left: 360px;
}


.g0802 {
	top: 540px;
	left: 360px;
}


.g0803 {
	top: 495px;
	left: 360px;
}


.g0804 {
	top: 450px;
	left: 360px;
}


.g0805 {
	top: 405px;
	left: 360px;
}


.g0806 {
	top: 360px;
	left: 360px;
}


.g0807 {
	top: 315px;
	left: 360px;
}


.g0808 {
	top: 270px;
	left: 360px;
}


.g0809 {
	top: 225px;
	left: 360px;
}


.g0810 {
	top: 180px;
	left: 360px;
}


.g0811 {
	top: 135px;
	left: 360px;
}


.g0812 {
	top: 90px;
	left: 360px;
}


.g0813 {
	top: 45px;
	left: 360px;
}


.g0814 {
	top: 0px;
	left: 360px;
}


.g0900 {
	top: 630px;
	left: 405px;
}


.g0901 {
	top: 585px;
	left: 405px;
}


.g0902 {
	top: 540px;
	left: 405px;
}


.g0903 {
	top: 495px;
	left: 405px;
}


.g0904 {
	top: 450px;
	left: 405px;
}


.g0905 {
	top: 405px;
	left: 405px;
}


.g0906 {
	top: 360px;
	left: 405px;
}


.g0907 {
	top: 315px;
	left: 405px;
}


.g0908 {
	top: 270px;
	left: 405px;
}


.g0909 {
	top: 225px;
	left: 405px;
}


.g0910 {
	top: 180px;
	left: 405px;
}


.g0911 {
	top: 135px;
	left: 405px;
}


.g0912 {
	top: 90px;
	left: 405px;
}


.g0913 {
	top: 45px;
	left: 405px;
}


.g0914 {
	top: 0px;
	left: 405px;
}


.g1000 {
	top: 630px;
	left: 450px;
}


.g1001 {
	top: 585px;
	left: 450px;
}


.g1002 {
	top: 540px;
	left: 450px;
}


.g1003 {
	top: 495px;
	left: 450px;
}


.g1004 {
	top: 450px;
	left: 450px;
}


.g1005 {
	top: 405px;
	left: 450px;
}


.g1006 {
	top: 360px;
	left: 450px;
}


.g1007 {
	top: 315px;
	left: 450px;
}


.g1008 {
	top: 270px;
	left: 450px;
}


.g1009 {
	top: 225px;
	left: 450px;
}


.g1010 {
	top: 180px;
	left: 450px;
}


.g1011 {
	top: 135px;
	left: 450px;
}


.g1012 {
	top: 90px;
	left: 450px;
}


.g1013 {
	top: 45px;
	left: 450px;
}


.g1014 {
	top: 0px;
	left: 450px;
}


.g1100 {
	top: 630px;
	left: 495px;
}


.g1101 {
	top: 585px;
	left: 495px;
}


.g1102 {
	top: 540px;
	left: 495px;
}


.g1103 {
	top: 495px;
	left: 495px;
}


.g1104 {
	top: 450px;
	left: 495px;
}


.g1105 {
	top: 405px;
	left: 495px;
}


.g1106 {
	top: 360px;
	left: 495px;
}


.g1107 {
	top: 315px;
	left: 495px;
}


.g1108 {
	top: 270px;
	left: 495px;
}


.g1109 {
	top: 225px;
	left: 495px;
}


.g1110 {
	top: 180px;
	left: 495px;
}


.g1111 {
	top: 135px;
	left: 495px;
}


.g1112 {
	top: 90px;
	left: 495px;
}


.g1113 {
	top: 45px;
	left: 495px;
}


.g1114 {
	top: 0px;
	left: 495px;
}


.g1200 {
	top: 630px;
	left: 540px;
}


.g1201 {
	top: 585px;
	left: 540px;
}


.g1202 {
	top: 540px;
	left: 540px;
}


.g1203 {
	top: 495px;
	left: 540px;
}


.g1204 {
	top: 450px;
	left: 540px;
}


.g1205 {
	top: 405px;
	left: 540px;
}


.g1206 {
	top: 360px;
	left: 540px;
}


.g1207 {
	top: 315px;
	left: 540px;
}


.g1208 {
	top: 270px;
	left: 540px;
}


.g1209 {
	top: 225px;
	left: 540px;
}


.g1210 {
	top: 180px;
	left: 540px;
}


.g1211 {
	top: 135px;
	left: 540px;
}


.g1212 {
	top: 90px;
	left: 540px;
}


.g1213 {
	top: 45px;
	left: 540px;
}


.g1214 {
	top: 0px;
	left: 540px;
}


.g1300 {
	top: 630px;
	left: 585px;
}


.g1301 {
	top: 585px;
	left: 585px;
}


.g1302 {
	top: 540px;
	left: 585px;
}


.g1303 {
	top: 495px;
	left: 585px;
}


.g1304 {
	top: 450px;
	left: 585px;
}


.g1305 {
	top: 405px;
	left: 585px;
}


.g1306 {
	top: 360px;
	left: 585px;
}


.g1307 {
	top: 315px;
	left: 585px;
}


.g1308 {
	top: 270px;
	left: 585px;
}


.g1309 {
	top: 225px;
	left: 585px;
}


.g1310 {
	top: 180px;
	left: 585px;
}


.g1311 {
	top: 135px;
	left: 585px;
}


.g1312 {
	top: 90px;
	left: 585px;
}


.g1313 {
	top: 45px;
	left: 585px;
}


.g1314 {
	top: 0px;
	left: 585px;
}


.g1400 {
	top: 630px;
	left: 630px;
}


.g1401 {
	top: 585px;
	left: 630px;
}


.g1402 {
	top: 540px;
	left: 630px;
}


.g1403 {
	top: 495px;
	left: 630px;
}


.g1404 {
	top: 450px;
	left: 630px;
}


.g1405 {
	top: 405px;
	left: 630px;
}


.g1406 {
	top: 360px;
	left: 630px;
}


.g1407 {
	top: 315px;
	left: 630px;
}


.g1408 {
	top: 270px;
	left: 630px;
}


.g1409 {
	top: 225px;
	left: 630px;
}


.g1410 {
	top: 180px;
	left: 630px;
}


.g1411 {
	top: 135px;
	left: 630px;
}


.g1412 {
	top: 90px;
	left: 630px;
}


.g1413 {
	top: 45px;
	left: 630px;
}


.g1414 {
	top: 0px;
	left: 630px;
}