@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    width: 100%;
}

body {
    width: 100%;
	color: white;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

table { 
	margin: 0 auto;
	border-collapse: collapse; 
}

tr {	
	margin: 0px;
	border: none;
	padding: 0px;
}

td {	
	margin: 0px;
	border: none;
	padding: 0px;
	vertical-align:top;
}

td.pad {	
	padding-right: 10px;
}

div.tile {
	z-index: 10;
	position: absolute;
}

div.sprite {
	z-index: 30;
	position: absolute;
}

div.grid {
	position: relative;
}

.g00-14 {
	top: 0px;
	left: 0px;
}

.g01-14 {
	top: 0px;
	left: 45px;
}

.g02-14 {
	top: 0px;
	left: 90px;
}